<a href="https://colab.research.google.com/github/JosephKiburu/hello-world/blob/master/Moringa_Data_Science_Prep_W3_Independent_Project_2021_09_Joseph_Kiburu_Python_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# importing the library to be used

import pandas as pd

In [ ]:
# Loading our datasets
# loading our dataset from a csv file
# row zero has a header so I skipped it

url = '/content/cells_geo.csv'
df= pd.read_csv(url, delimiter=';', header=1,  names=['City', 'Status', 'Locality', 'Decoup_zone', 'Zone-name',
'Longitude', 'Latitude', 'Region', 'Area', 'Cell_ID', 'Site_ID'])
df.head()

In [ ]:
# loading our dataset from a csv file

url ='/content/Telcom_dataset.csv'
df1 = pd.read_csv(url, header=1, names=['Product','Value','Date-Time','Cell_on_Site',	'DW_A_NUMBER_INT','DW_B_NUMBER_INT','Country_A','Country_B','Cell_ID','Site_ID'])
df1
df1.head(4)

In [ ]:
# loading our dataset from a csv file

url = '/content/Telcom_dataset2.csv'
df2 = pd.read_csv(url, header=1, names=['Product','Value','Date-Time','Cell_on_Site',	'DW_A_NUMBER_INT','DW_B_NUMBER_INT','Country_A','Country_B','Cell_ID','Site_ID'])
df2
df2.head(5)

In [ ]:
# loading our dataset from a csv file

url = '/content/Telcom_dataset3.csv'
df3 = pd.read_csv(url, header=1, names=['Product','Value','Date-Time','Cell_on_Site',	'DW_A_NUMBER_INT','DW_B_NUMBER_INT','Country_A','Country_B','Cell_ID','Site_ID'])
df3.head(4)

In [ ]:
# now to combine the dataframes into one dataframe

df_merged=pd.concat([df1,df2,df3],  axis=0)
df_merged

In [ ]:
# Changing our Date-Time column to date time format

df_merged['Date-Time'] = pd.to_datetime(df_merged['Date-Time'])
df_merged

In [ ]:
# dropping columns if all the values in the column are missing values

df_merged=df_merged.dropna(axis=1, how='all')
df_merged

In [ ]:
# Dropping rows where all the cells in the row are missing values

df_merged_cleaned = df_merged.dropna(how='all')
df_merged_cleaned

In [ ]:
# filling the missing data with zeros

df_merged.fillna(0)

In [ ]:
# merging our merged dataframe and our cells_geo.csv dataframe and call
# it df_new



df_new=df_merged.merge(df, how='left', on='Cell_ID')
df_new

In [ ]:
# to find the most used city
# I will display the mean of each city's product value using grouping the cities 
# by their Cell_ID

Cell_ID_use= df_new['Value'].groupby(df_new['Cell_ID'])
Cell_ID_use.mean()

Cell_ID
++ctND+jGD    14.888889
+38u2u/rfx    16.909091
+854AcBQT2    17.111111
+Fs4mTvdKx     5.166667
+QZ9qRtNxA     6.875000
                ...
ff97ccaf78    13.750000
ff99709d62    37.500000
ffa6759bb2     7.658317
ffb86d66d2    12.222222
ffcc507579    22.750000
Name: Value, Length: 2677, dtype: float64

In [ ]:
# most used product
Product_use= df_new['Value'].groupby(df_new['Product'])
Product_use.mean()

Product
Voice    55.178672
data      7.628861
sms       7.556860
Name: Value, dtype: float64

In [ ]:
# the cell Id which got the highest revenue

Cell_ID_Revenue= df_new['Value'].groupby(df_new['Cell_ID'])
Cell_ID_Revenue.mean()

Cell_ID
++ctND+jGD    14.888889
+38u2u/rfx    16.909091
+854AcBQT2    17.111111
+Fs4mTvdKx     5.166667
+QZ9qRtNxA     6.875000
                ...
ff97ccaf78    13.750000
ff99709d62    37.500000
ffa6759bb2     7.658317
ffb86d66d2    12.222222
ffcc507579    22.750000
Name: Value, Length: 2677, dtype: float64